@import "reset";
// sass --watch scss/style.scss:css/style.css
.box1 {
    background-color: purple;
}

.box2 {
    background-color: aqua;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 3rem;
}












